<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='dot/confirmation'">
<head>
    <meta charset="utf-8"/>
    <title>Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">
    <div class="page-header" style="border-bottom: none">
        <h1>Unconfirmed Cars</h1>
    </div>

    <div>
        <p th:if="${confirmSuccess}" style="color: green"><span class="glyphicon glyphicon-ok" aria-hidden="true" /> <span th:utext="${confirmSuccess}" /></p>
        <p th:if="${confirmFail}" style="color: red"><span class="glyphicon glyphicon-remove" aria-hidden="true" /> <span th:utext="${confirmFail}" /></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Color</th>
                <th>VIN</th>
                <th>Insurer</th>
                <th>Registration</th>
                <th>Numberplate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car,iterStat : ${carsToConfirmList}">
                <th th:text="${iterStat.count}" scope="row"></th>
                <td th:text="${car.certificate.type}">M3</td>
                <td th:text="${car.certificate.brand}">BMW</td>
                <td th:text="${car.certificate.color}">black</td>
                <td th:text="${car.vin}">WVWZZZ6RZHY260780</td>
                <td th:text="${car.certificate.insurer}">WVWZZZ6RZHY260780</td>
                <td>
                    <div th:switch="${car.isRegistered()}">
                        <div th:case="true">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: lightgreen"></span>&nbsp;OK
                        </div>
                        <div th:case="false">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="color: lightgreen">&nbsp;Error!</span>
                        </div>
                    </div>
                </td>
                <td>
                    <form th:id="'confirmCar' + ${iterStat.count}" th:action="@{/dot/confirmation/confirmcar}"
                          method="post">
                        <input type="hidden" name="vin" th:value="${car.vin}"/>
                        <input type="text" name="numberplate" class="form-control" id="type" placeholder="Select numberplate (eg. ZH 12345)"/>
                    </form>
                    </td>
                <td>
                    <button type="button" class="btn btn-success"
                            th:onclick="'document.getElementById(\'confirmCar' + ${iterStat.count} + '\').submit()'">
                        confirm
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center;"><p th:if="${noResponseData}" style="color: lightsalmon">No pending requests.</p></div>
    </div>

    <div th:replace="footer" />


</div>


<script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
