<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='dot/confirmation'">
<head>
    <meta charset="utf-8"/>
    <title>BLANK WebApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">
    <div class="page-header" style="border-bottom: none">
        <div class="row">
            <div>
                <p class="pull-right">Role: <span th:text="${role}">ROLE</span></p>
                <div th:switch="${role}">
                    <div th:case="'GARAGE'">
                        <h1>My Cars</h1>
                    </div>
                    <div th:case="'INSURANCE'">
                        <h1>My Insurance Inquiries</h1>
                    </div>
                    <div th:case="'USER'">
                        <h1>My Cars</h1>
                    </div>
                    <div th:case="'DOT'">
                        <h1>My Inquiries</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Color</th>
                <th>VIN</th>
                <th># Doors</th>
                <th># Cylinders</th>
                <th># Axis</th>
                <th>Max Speed</th>
                <th>Registration</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pAndC,iterStat : ${proposalAndCarData}">
                <th th:text="${iterStat.count}" scope="row"></th>
                <td th:text="${pAndC.car.certificate.type}">M3</td>
                <td th:text="${pAndC.car.certificate.brand}">BMW</td>
                <td th:text="${pAndC.car.certificate.color}">black</td>
                <td th:text="${pAndC.car.vin}">WVWZZZ6RZHY260780</td>
                <td th:text="${pAndC.proposalData.numberOfDoors}">4</td>
                <td th:text="${pAndC.proposalData.numberOfCylinders}">AXA Winterthur</td>
                <td th:text="${pAndC.proposalData.numberOfAxis}">AXA Winterthur</td>
                <td th:text="${pAndC.proposalData.maxSpeed}">AXA Winterthur</td>
                <td th:text="${pAndC.car.isRegistered()}">Yes</td>
                <td><button type="button" class="btn btn-success">Accept registration</button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="footer" />


</div>


<script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
