<ul class="nav navbar-nav">
    <li th:class="${currentPage} eq 'dot/registration' ? 'active'">
        <a href="index.html" th:href="@{/dot/registration}">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;Registration
        </a>
    </li>
    <li th:class="${currentPage} eq 'dot/confirmation' ? 'active'">
        <a href="confirmation.html" th:href="@{/dot/confirmation}">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Confirmation
        </a>
    </li>
    <li th:class="${currentPage} eq 'dot/all-cars' ? 'active'">
        <a href="all-cars.html" th:href="@{/dot/all-cars}">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;All Cars
        </a>
    </li>
</ul>