<ul class="nav navbar-nav">
    <li th:class="${currentPage} eq 'index' ? 'active'">
        <a href="index.html" th:href="@{/}">
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;My Cars
        </a>
    </li>
    <li th:class="${currentPage} eq 'import' ? 'active'">
        <a href="#" th:href="@{/import}">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>&nbsp;Import Car
        </a>
    </li>
    <li th:class="${currentPage} eq 'insure' ? 'active'">
        <a href="#" th:href="@{/insure}">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>&nbsp;Insure Car
        </a>
    </li>
</ul>