<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><strong><span
                sec:authentication="name">Username</span></strong>&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>&nbsp;&nbsp;Account
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript: document.logoutForm.submit()" role="menuitem">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Logout
                </a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </li>
</ul>