<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='insurance/index'">
<head>
    <meta charset="utf-8"/>
    <title>Insure Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">
    <div class="page-header" style="border-bottom: none">
        <h1 th:text="${insurer.name} + ' Insurance Inquiries'">My Insurance Inquiries</h1>
    </div>

    <div>
        <p th:if="${success}" style="color: green"><span class="glyphicon glyphicon-ok" aria-hidden="true" /> <span th:utext="${success}" /></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Car VIN</th>
                <th>Registered</th>
                <th>Insurance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proposal,iterStat : ${insurer.proposals}">
                <form th:id="'insuranceAccept' + ${iterStat.count}" th:action="@{/insurance/acceptInsurance}" method="post">
                    <th th:text="${iterStat.count}" scope="row"></th>
                    <td>
                        <span th:text="${proposal.user}">Username</span>
                        <input type="hidden" name="userToInsure" th:value="${proposal.user}"/>
                    </td>
                    <td>
                        <span th:text="${proposal.car}">VIN</span>
                        <input type="hidden" name="vin" th:value="${proposal.car}"/>
                    </td>
                    <td>
                        <div th:switch="${proposal.registered}">
                            <div th:case="true">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                            </div>
                            <div th:case="false">
                                <span class="glyphicon glyphicon-ban-circle " aria-hidden="true"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:switch="${proposal.registered}">
                            <div th:case="true">
                                <button type="button" th:onclick="'document.getElementById(\'insuranceAccept' + ${iterStat.count} + '\').submit()'" class="btn btn-success">insure</button>
                            </div>
                            <div th:case="false">
                                <button type="button" class="btn disabled">insure</button>
                            </div>
                        </div>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:replace="footer" />


</div>


<script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
