.table td, .table th {
    vertical-align: middle !important;
}

.page-header h1 {
    font-size: 2em;
}

footer {
    color: #999 !important;
    font-size: 12px !important;
}

img.trusted-img {
    max-height: 35px;
    vertical-align: middle;
}