<footer>
    <div class="row">
        <div class="col-lg-12">

            <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
            </ul>
            <p>&copy; by carchain 2017 :: Made by 4 Students at <a href="http://www.ifi.uzh.ch/en/imrg.html"
                                                                rel="nofollow" target="_blank">IMRG</a> of the <a
                    href="http://www.uzh.ch" target="_blank" rel="nofollow">University of Zurich</a>.</p>
            <p>Based on <a href="https://hyperledger-fabric.readthedocs.io/en/latest/" rel="nofollow"
                           target="_blank">Hyperledger Fabric</a>, <a
                    href="https://projects.spring.io/spring-framework/" rel="nofollow" target="_blank">Spring
                Framework</a> and <a href="http://www.glyphicons.com/" rel="nofollow" target="_blank">Glyphicons</a>.</p>

        </div>
    </div>

</footer>