<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='history'">
<head>
    <meta charset="utf-8"/>
    <title>Car History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">

    <div class="page-header" style="border-bottom: none">
        <h1>Car History</h1>
        <p><span class="glyphicon glyphicon-info-sign" style="font-size: 125%;"></span>&nbsp;<span style="font-size: 125%" th:text="${history.entrySet()[0].getValue().certificate.brand + ' ' + history.entrySet()[0].getValue().certificate.type + ', ' + history.entrySet()[0].getValue().certificate.color + '  (' + vin + ')'}"></span></p>
    </div>
    <p th:if="${error}" style="color: #e74c3c"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" /> <span th:utext="${error}" /></p>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th><abbr title="Revision Number">Rev#</abbr></th>
                <th><abbr title="Modification Time">Mod. Time</abbr></th>
                <th>Owner</th>
                <th>Numberplate</th>
                <th>Insurer</th>
                <th>Registration</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e, iterStat : ${history.entrySet()}">
                <th th:text="${iterStat.count}" scope="row"></th>
                <td th:text="${timeFmt.format(e.getKey()*1000L)}">Created At</td>
                <td th:text="${e.getValue().certificate.username}">bob</td>
                <td th:text="${e.getValue().certificate.numberplate}">ZH 1234</td>
                <td th:text="${e.getValue().certificate.insurer}">AXA Winterthur</td>
                <td>
                    <div th:switch="${e.getValue().isRegistered()}">
                        <div th:case="true">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #18bc9c"></span>&nbsp;OK
                        </div>
                        <div th:case="false">
                            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"> </span>&nbsp;pending
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="footer" />
</div>


<script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
