<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='import'">
<head>
    <meta charset="utf-8"/>
    <title>Import Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">

    <div class="page-header" style="border-bottom: none">
        <h1>Import Car</h1>
    </div>
    <div>
        <p th:if="${error}" style="color: red"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" /> <span th:utext="${error}" /></p>
        <form class="form-horizontal" th:action="@{/import}" method="post">
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="vin">Vehicle identification number *</label>
                    <input type="text" class="form-control" id="vin" th:field="*{car.vin}" placeholder="eg. XWERG11241251ASW" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="NumberOfDoors">Additional information</label>
                    <input type="text" class="form-control" id="color" th:field="*{car.Certificate.color}" placeholder="Color (eg. black)"/>
                </div>
                <div class="col-sm-6">
                    <label for="NumberOfCylinders">&nbsp;</label>
                    <input type="text" class="form-control" id="type" th:field="*{car.Certificate.type}" placeholder="Type (eg. C350)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="brand" th:field="*{car.Certificate.brand}" placeholder="Brand (eg. Mercedes)"/>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="NumberOfDoors">Audit Report (Form. 13.20 A)</label>
                    <input type="text" class="form-control" id="NumberOfDoors" th:field="*{proposalData.numberOfDoors}" placeholder="Number of doors (eg. 4+1)"/>
                </div>
                <div class="col-sm-6">
                    <label for="NumberOfCylinders">&nbsp;</label>
                    <input type="number" class="form-control" id="NumberOfCylinders" th:field="*{proposalData.numberOfCylinders}" placeholder="Number of cylinders (eg. 4)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="NumberOfAxis" th:field="*{proposalData.numberOfAxis}" placeholder="Number of axis (eg. 2)"/>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="MaxSpeed" th:field="*{proposalData.maxSpeed}" placeholder="Maximum speed [km/h] (eg. 180)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <p>* required</p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="footer" />


</div>


<script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
