<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>BLANK WebApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">BLANK WebApp</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" th:href="@{/index}">My Cars</a>
                </li>
                <li class="active">
                    <a href="#" th:href="@{/import}">Import Car</a>
                </li>
            </ul>

            <div th:replace="menu/user-menu"></div>
        </div>
    </div>
</div>


<div class="container">

    <div th:replace="header/page-header"></div>
    <p th:if="${error}" style="color: red" th:text="${error}">Car Error</p>
    <div>
        <form class="form-horizontal" th:action="@{/import}" method="post">
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="vin">Vehicle identification number</label>
                    <input type="text" class="form-control" id="vin" th:field="*{car.vin}" placeholder="eg. XWERG11241251ASW" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="NumberOfDoors">Additional information</label>
                    <input type="text" class="form-control" id="color" th:field="*{car.Certificate.color}" placeholder="Color (eg. black)"/>
                </div>
                <div class="col-sm-6">
                    <label for="NumberOfCylinders">&nbsp;</label>
                    <input type="text" class="form-control" id="type" th:field="*{car.Certificate.type}" placeholder="Type (eg. C350)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="brand" th:field="*{car.Certificate.brand}" placeholder="Brand (eg. Mercedes)"/>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="NumberOfDoors">Audit Report (Form. 13.20 A)</label>
                    <input type="text" class="form-control" id="NumberOfDoors" th:field="*{proposalData.numberOfDoors}" placeholder="Number of doors (eg. 4+1)"/>
                </div>
                <div class="col-sm-6">
                    <label for="NumberOfCylinders">&nbsp;</label>
                    <input type="number" class="form-control" id="NumberOfCylinders" th:field="*{proposalData.numberOfCylinders}" placeholder="Number of cylinders (eg. 4)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="NumberOfAxis" th:field="*{proposalData.numberOfAxis}" placeholder="Number of axis (eg. 2)"/>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="MaxSpeed" th:field="*{proposalData.maxSpeed}" placeholder="Maximum speed [km/h] (eg. 180)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-default"><span style="color: #e6e6e6">Submit</span></button>
                </div>
            </div>
        </form>

    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">

                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Back to top</a></li>
                </ul>
                <p>&copy; by BLANK 2017 :: Made by 4 Students at <a href="http://www.ifi.uzh.ch/en/imrg.html"
                                                                    rel="nofollow" target="_blank">IMRG</a> of the <a
                        href="http://www.uzh.ch" target="_blank" rel="nofollow">University of Zurich</a>.</p>
                <p>Based on <a href="https://hyperledger-fabric.readthedocs.io/en/latest/" rel="nofollow"
                               target="_blank">Hyperledger Fabric</a> and <a
                        href="https://projects.spring.io/spring-framework/" rel="nofollow" target="_blank">Spring
                    Framework</a>.</p>

            </div>
        </div>

    </footer>


</div>


<script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
