<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='insure'">
<head>
    <meta charset="utf-8"/>
    <title>Insure Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">

    <div class="page-header" style="border-bottom: none">
        <h1>Insure Car</h1>
    </div>
    <p th:if="${success}" style="color: green"><span class="glyphicon glyphicon-saved" aria-hidden="true" /> <span th:utext="${success}" /></p>
    <div>
        <form class="form-horizontal" th:action="@{/insure}" method="post">
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="company">Insurance Company Name</label>
                    <input type="text" class="form-control" id="company" name="company" placeholder="Insurance Company Name (eg. AXA)"/>
                </div>
                <div class="col-sm-6">
                    <label for="vin">Car</label>
                    <select name="vin" id="vin" class="form-control">
                        <option th:each="car : ${cars}" th:value="${car.vin}" th:selected="${car.vin}==${activeVin}">
                            <span th:text="${car.vin}"></span>,&#09;
                            <span th:text="${car.certificate.brand}"></span>,&#09;
                            <span th:text="${car.certificate.type}"></span>,&#09;
                            <span th:text="${car.certificate.color}"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-default"><span style="color: #e6e6e6">Submit</span></button>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="footer" />

</div>


<script src="../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
