<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='offers'">
<head>
    <meta charset="utf-8"/>
    <title>Insure Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/custom.min.css" th:href="@{/css/custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="navigation" />

<div class="container">
    <div class="page-header" style="border-bottom: none">
        <h1>Offers</h1>
    </div>

    <div>
        <p th:if="${success}" style="color: green"><span class="glyphicon glyphicon-ok-circled" aria-hidden="true" /> <span th:utext="${success}" /></p>
        <p th:if="${error}" style="color: red"><span class="glyphicon glyphicon-remove" aria-hidden="true" /> <span th:utext="${error}" /></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Seller</th>
                <th>VIN</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer,iterStat : ${offers}">
                <form th:id="'offerAccept' + ${iterStat.count}" th:action="@{/offers}" method="post">
                    <td th:text="${iterStat.count}" scope="row"></td>
                    <td>
                        <span th:text="${offer.vin}">VIN</span>
                        <input type="hidden" name="vin" th:value="${offer.vin}"/>
                    </td>
                    <td>
                        <span th:text="${offer.seller}">seller</span>
                        <input type="hidden" name="seller" th:value="${offer.seller}"/>
                    </td>
                    <td>
                        <span th:text="${offer.price}">price</span>
                        <input type="hidden" name="price" th:value="${offer.price}"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success"
                                th:onclick="'document.getElementById(\'offerAccept' + ${iterStat.count} + '\').submit()'">
                            accept
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:replace="footer" />


</div>


<script src="../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>
</html>
